<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/output.css" rel="stylesheet" />    
    <title>Vergelijken</title>
    <script type="module" src="/scripts/compare/compare.js" defer></script>
  </head>
  <body class="w-full sm:text-left bg-slate-900 text-slate-100">